@font-face {
    font-family: 'Tiempos Text';
    src: url('fonts/Tiempos/fonts/Tiempos/TiemposText-BoldItalic.eot');
    src: local('Tiempos Text Bold Italic'), local('TiemposText-BoldItalic'),
        url('fonts/Tiempos/TiemposText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Tiempos/TiemposText-BoldItalic.woff') format('woff'),
        url('fonts/Tiempos/TiemposText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/Tiempos/TiemposHeadline-Black.eot');
    src: local('Tiempos Headline Black'), local('TiemposHeadline-Black'),
        url('fonts/Tiempos/TiemposHeadline-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Tiempos/TiemposHeadline-Black.woff') format('woff'),
        url('fonts/Tiempos/TiemposHeadline-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/Tiempos/TiemposHeadline-Medium.eot');
    src: local('Tiempos Headline Medium'), local('TiemposHeadline-Medium'),
        url('fonts/Tiempos/TiemposHeadline-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Tiempos/TiemposHeadline-Medium.woff') format('woff'),
        url('fonts/Tiempos/TiemposHeadline-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('fonts/Tiempos/TiemposText-Regular.eot');
    src: local('Tiempos Text Regular'), local('TiemposText-Regular'),
        url('fonts/Tiempos/TiemposText-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Tiempos/TiemposText-Regular.woff') format('woff'),
        url('fonts/Tiempos/TiemposText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('fonts/Tiempos/TiemposText-Italic.eot');
    src: local('Tiempos Text Italic'), local('TiemposText-Italic'),
        url('fonts/Tiempos/TiemposText-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Tiempos/TiemposText-Italic.woff') format('woff'),
        url('fonts/Tiempos/TiemposText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('fonts/Tiempos/TiemposHeadline-Light.eot');
    src: local('Tiempos Headline Light'), local('TiemposHeadline-Light'),
        url('fonts/Tiempos/TiemposHeadline-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Tiempos/TiemposHeadline-Light.woff') format('woff'),
        url('fonts/Tiempos/TiemposHeadline-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('fonts/Tiempos/TiemposText-Bold.eot');
    src: local('Tiempos Text Bold'), local('TiemposText-Bold'),
        url('fonts/Tiempos/TiemposText-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Tiempos/TiemposText-Bold.woff') format('woff'),
        url('fonts/Tiempos/TiemposText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/Proxima/r.eot');
    src: local('Proxima Nova'), local('Proxima Nova'),
        url('fonts/Proxima/r.eot?#iefix') format('embedded-opentype'),
        url('fonts/Proxima/r.woff') format('woff'),
        url('fonts/Proxima/r.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Alt Light';
    src: url('fonts/Proxima/a.eot');
    src: local('Proxima Nova'), local('Proxima Nova'),
        url('fonts/Proxima/a.eot?#iefix') format('embedded-opentype'),
        url('fonts/Proxima/a.woff') format('woff'),
        url('fonts/Proxima/a.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('fonts/Proxima/b.eot');
    src: local('Proxima Nova'), local('Proxima Nova'),
        url('fonts/Proxima/b.eot?#iefix') format('embedded-opentype'),
        url('fonts/Proxima/b.woff') format('woff'),
        url('fonts/Proxima/b.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Thin';
    src: url('fonts/Proxima/t.eot');
    src: local('Proxima Nova'), local('Proxima Nova'),
        url('fonts/Proxima/t.eot?#iefix') format('embedded-opentype'),
        url('fonts/Proxima/t.woff') format('woff'),
        url('fonts/Proxima/t.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Harlow';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/Harlow/harlow.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Harlow/harlow.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Harlow/harlow.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Harlow/harlow.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Harlow/harlow.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	background-color: #FFF6ED;
}
html, body{
	height: 100%;
    display: flex;
    flex-direction: column;
}

body > * {
    flex-shrink: 0;
}

/*Divs*/

.main-content {
    margin-top:140px;
	margin-left:15%;
	margin-right:15%;
	background-color: #FFFFFF;
    flex-grow: 1;

    padding-top:2%;
    padding-left:2%;
    padding-right:2%;
}

img {
	width:100%;
	height:auto;
}

.form-inline{
    display:flex;
    flex-flow:row wrap;
    align-items:center;
}

/*Header Image*/

.header-image-wrapper{
    z-index:-1;
    height:400px !important;
    margin-top: 0px !important;
    position:absolute;
    top:0;
    left:0;
    width:100%;

    display:flex;
    overflow:hidden;
    margin: -90px 0 50px;
    background-color:#000;

}

.header-image{
    position:absolute;
    top:0%;
    width:100%;
    height:100%;
    opacity:50%;

    background-position:center;
    background-size:cover;
}

/*Navbar stuff*/
.my-navbar{
    margin-left:20%;
    margin-right:20%;
    background-color:#FFFFFF;
}

.my-navtext{
    text-align:center;
}

.my-navtext a{
    text-decoration:none;
    color:#000000;
    font-family: 'Proxima Nova';
}

/*Texts*/
.title-site{
    font-family: 'Harlow';
    font-size:4.0em;
    line-height:1.5;
    background-color:#FFFFFF;
}

.title-page{
    font-family: 'Tiempos Headline', 'Times New Roman', serif;
    font-size:2.0em;
    line-height:1.5
}

a{
    text-decoration:none;
    color:inherit;
}

a:hover{
    color:  #D3D3D3;
}

h1 .title-page{

}

h1{font-family: 'Tiempos Text', 'Times New Roman', serif;
    font-size:1.4em;
    line-height:1.5
}