{% extends "blog/base.html" %}

{% load static %}

<!--
<header class="masthead text-center d-flex" id="mastheadPost">
	<div class="container my-auto">
		<div class="row">
			<div class="col-lg-10 mx-auto">
			</div>
		</div>
	</div>
</header>
-->





	
{% block title-page %}
{{ post_detail.title }}
{% endblock %}

{% block content%}

<div class="text-muted text-center"> {{ post_detail.created_date }}</div>

<p class="card-text" id="post"> {{ post_detail.formatted_markdown|safe }} </p>

{% endblock %}